### Hello Developer! This is an example of a .env file for your project. 

# 1. Postgres Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# 2. Pg Admin Configuration
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# 3. Connection String for the API
CONNECTION_STRING=